<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>一中院内网指纹登录管理系统</title>
    <!--<link th:href="@{/css/fp.css}" rel="stylesheet"/>-->
    <!--<link th:href="@{/css/core.css}" rel="stylesheet"/>-->
    <link th:href="@{/css/css.css}" rel="stylesheet"/>
    <script th:src="@{/js/fingerPrint.js}"> </script>

    <object style="height: 0px; width: 0px;" id="objFeatureExtraction" name="objFeatureExtraction"
            classid="clsid:733A2D1B-9F3D-423D-8700-4F2C8E88EAF9">
    </object>
    <object style="height: 0px; width: 0px;" id="objEnrollment" name="objEnrollment"
            classid="clsid:A1589E23-FE6E-43D8-9EDF-93142671C47A">
    </object>
    <object style="height: 0px; width: 0px;" id="objComparison" name="objComparison"
            classid="clsid:C864A916-E288-439B-8054-C695C9677D84">
    </object>
    <object style='height: 0px; width: 0px;' id='objReaderCollection' name='objReaderCollection'
            classid='clsid:CAC5592F-EBA5-487C-AF8A-F35A70FAA33B'>
    </object>
    <object style='height: 0px; width: 0px;' id='objReader' name='objReader' classid='clsid:C4287526-1485-48CB-99BB-6CC4A3552B81'>
    </object>

    <style>
        a{color:#fff;text-decoration:none}
        a:hover{color:#ffffff;text-decoration:underline}
        .loading{background:url(/images/bg.png) no-repeat;width:900px;height:600px}
        tr{}
        td{vertical-align:top}
        .input{font-size:14px;padding-left:20px;color:#fff;border:0;width:250px;height:40px;line-height:40px;margin:12px 0 0 60px;background-color:transparent}
        .mm{color:#ffffff;font-weight:bold;font-size:14px}
    </style>

    <script language="Javascript">
        resizeTo(900,600);

        hero();
        function hero()
        {
            var herowidth=916;//改为你要的网页宽度
            var heroheight=663;//改为你要的网页高度
            window.resizeTo(herowidth,heroheight);
        }
    </script>


</head>

<body onresize="hero();" onload="Initialize();" onunload="DestroyReader();">
<div class="loading" th:replace="/login_body :: content">

</div>
</body>
</html>
